html {
  @apply h-auto scroll-smooth;
  scroll-padding-top: 64px;
}

body {
  @apply min-h-dvh font-sans text-sm lg:text-lg overflow-x-hidden;
  line-height: 1.2em;
}

#__lawyers-app {
  @apply min-h-dvh flex flex-col;
}

.container {
  @apply mx-auto md:max-w-[990px] xl:max-w-[1240px] px-4 sm:px-6 w-full h-full;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}

mark {
  @apply no-underline bg-transparent hover:underline;
  &.primary {
    @apply text-primary hover:text-secondary;
  }
  &.secondary {
    @apply text-neutral1/50 hover:text-neutral1;
  }
}

.title {
  @apply text-left font-medium text-2xl xl:text-4xl mb-4 leading-6 xl:leading-9;
}

.title-compact {
  @apply text-base font-medium sm:text-right mr-8 sm:mr-0;
}

.subtitle {
  @apply text-left font-medium text-base xl:text-lg leading-5;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.ui-scrollbars ::-webkit-scrollbar {
  @apply bg-transparent w-2 h-2 rounded;
}

.ui-scrollbars ::-webkit-scrollbar-track {
  @apply bg-neutral2/50;
}

.ui-scrollbars ::-webkit-scrollbar-thumb {
  @apply rounded bg-neutral2/50 w-4 transition-all;
}

.ui-scrollbars ::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral2/50 transition-all;
}
